body {
	background-color: whitesmoke;
}

header {
	margin: 10px auto;
	background-color: #42006b;
	border: 1px solid #ffc300;
	box-shadow: 0 0 30px #777;
    text-align: center;
    color: whitesmoke;
    font-family: 'Abril Fatface', cursive;
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

.motto {
    color: whitesmoke;
}

nav {
    background-color: #ffd800;
    color: #000000;
    font-family: 'Raleway', sans-serif;
}

footer {
    font-size: smaller;
}