header {
	margin: 10px auto;
	background-color: #42006b;
	border: 1px solid #ffc300;
	box-shadow: 0 0 30px #777;
    text-align: center;
    color: white;
    font-family: 'Abril Fatface';
    font-size: 50px
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

.motto {
    color: whitesmoke;
}

nav {
    background-color: #ffd800;
    color: black;
    font-family: 'Raleway';
}

body {
    background-color: white;
    color: black;
    font-family: 'Raleway';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
}

footer {
    font-size: smaller;
    font-family: 'Lato';
    background-color: #42006b;
    color: white;
    text-align: center;
}