@media only screen and (min-width: 45em) {
    /* HEADER */
    header h1 {
        font-size: 3em;
        margin-bottom: 10px;
    }
    
    .motto {
        font-size: 1em;
        margin-bottom: 10px;
    }

    header img {
        max-width: 100px;
    }

    /* NAVIGATION */
     nav ul li {
        display: inline-block;
    }
    
    ul {
        flex-direction: row;
    }

    nav ul li a {
        font-size: 1.5em;
        border: none;
        padding: .6rem 1rem;
    }

    /* MAIN */
    
    main {
        max-width:1024px;
        margin:0 auto;
    }

    div#summary {
        top: 50px;
        right: 50px;
        padding: 35px 50px;
    }

    div#summary p {
        font-size: 20px;
    }

    .hero {
        width: 1000px;
        height: 500px;
        margin: 10px auto;
        position: relative;
    }

    .forecast {
        display: block;
    }
}