body {
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    min-width: 320px;
}

/* HEADER */
header {
	margin: 10px auto;
	background-color: #42006b;
	border: 1px solid #ffc300;
	box-shadow: 0 0 30px #777;
    text-align: center;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    
}

header img {
	vertical-align: sub;
    margin: 10px;
    display: inline-block;
}

.headings {
    display: inline-block;
    text-align: center;
}

.motto {
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

nav {
    background-color: #ffd800;
    color: black;
    font-family: 'Raleway', sans-serif;
}


h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

footer {
    font-size: smaller;
    font-family: 'Lato', sans-serif;
    background-color: #42006b;
    color: white;
    text-align: center;
}