@media only screen and (min-width: 600px) {
    /*------ HEADER ------*/
    header h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }
    
    .motto {
        font-size: 1em;
        margin-bottom: 10px;
    }

    header img {
        max-width: 100px;
    }

    /*------ NAVIGATION -------*/
    nav button {display: none;}
    
    nav ul {
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    nav ul li a {
        font-size: 1.5em;
        border: none;
        padding: .6rem 1rem;
    }

    nav ul.hide {
        display: inline-flex;
        margin: auto;
    }

    /*------ FORECAST ------*/
    .forecast {
        display: block;
        margin: 40px;
    }

    table {
        margin: 0 auto;
    }

    th {
        background-color: #42006b;
        color: white;
    }

    table, th, td {
        border: 1px solid #42006b;
        border-collapse: collapse;
        text-align: center;
        padding: 10px;
      }
    
    /*------ GALLERY ------*/
    div.weatherGallery {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ----- HOME PAGE ----- */
    article#homeTowns {
        border: none;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3%;
        margin-top: 30px;
}

    /*------ FOOTER ------*/

    footer {
        max-width: 1000px;
        margin: auto auto 20px auto;
        padding-top: 50px;
    }

    footer aside {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

    div.contact {
        padding-top: 30px;
    }
}