html {
    width: 100%
}

/*------ BODY ------*/
body {
    background-color: white;
    color: #42006b;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    min-width: 320px;
}

/*------- HEADER ------*/
header {
    display: flex;
    margin: 10px auto;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}

header img {
	vertical-align: sub;
    margin: 10px;
    display: inline-block;
    max-width: 85px;
}

.headings {
    display: inline-block;
    text-align: center;
}

header h1 {
    color: #d6620a;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.motto {
    color: #42006b;
    font-family: 'Raleway', sans-serif;
    font-size: .75em;
    margin-bottom: 10px;
}

/*------ NAVIGATION ------*/

nav {
    width: 100%;
    background-color: #d6620a;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav ul.hide {
    display: none;
}

/*Remove default link underline and color*/
nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    margin: 0 auto;
    padding: .8rem 2%;
    border-top: 1px solid rgba(0,0,0,0.4);
}

/*wayfinding active link */
nav ul li.active a {background-color: rgba(0,0,0,0.2);
}

/* Change the link color on hover */
nav ul li a:hover {background-color: #42006b;}

/*------ MAIN ------*/

h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

h2 {
    text-align: center;
    font-size:2rem;
    text-shadow:3px 3px 5px #777;
}

/*------ HERO ------*/
.hero {
    margin: 10px auto 30px auto;
    position: relative;
}

.hero img {
    width: 100%;
    margin: auto;
    display: block;
}

/*------ WEATHER SUMMARY ------*/
div#summary {
    position: absolute;
    top: 25px;
    right: 20px;
    background: radial-gradient(#eee, #4567aa);
    opacity: .8;
    border: 1px solid #000;
    padding: 5px;
    box-shadow: 0 0 30px #fff;
    color: #a14600;
}

div#summary h3 {
    padding-bottom: 3px;
    border-bottom: 4px solid #a14600;
    margin: 5px;
    font-size: 1.5rem;
}

div#summary p {
    font-size: 1rem;
}

/*------ FORECAST ------*/
.forecast {
    display: none;
}

/*------ ARTICLE ------*/
article {
    width: 90%;
    background-color: #f0e3fc;
    margin: 30px auto;
    padding: 10px;
    border: 1px solid  #42006b;
}

article h2 {
    text-align: left;
    margin: 0;
}

article h5 {
    margin-bottom: 15px;
    margin-top: 27px;
}

.picture {
    width: 100%;
    margin: 0;
}

.picture img {
    width: 100%;
}

/*------ GALLERY ------*/

div.weatherGallery {
    padding: 0 2%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
}

div.weatherGallery figure img {
    width: 100%;
}

div.weatherGallery figure figcaption {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    padding: 2% 1%;
}

/*------ STORMCENTER ------*/

form {
    margin: 0 auto;
    width:400px;
}

input {
    width: 80vw;
    max-width: 400px;
    padding: 12px 20px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
}

form fieldset {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    max-width: 400px;
    border: none;
    margin-top: 30px;
}

fieldset legend {
    text-decoration: underline;
}

fieldset legend {
    font-size: 1.5rem;
    font-weight: bold;
}


/* ---STORM SEVERITY--- */
#severity {
    margin-top: 20px;
}

#ratingvalue {
    font-size: 1.5rem;
    font-weight: bold;
}

/* ---STORM REGION--- */
.custom-select {
    margin-top: 10px;
}

/* ---USER IN DANGER--- */
.dangerAnswer { 
    -webkit-appearance: none;
    width: 25%;
    display: inline-flex;
}

.userInDanger {
    margin-top: 20px;
}

.dangerAnswer label {
    text-align: left;
}

.dangerAnswer {
    margin: 10px;
}

.dangerAnswer input {
    width: 30px;
    margin: 0;
}

/* ---ADDITIONAL INFO--- */
textarea {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    width: 110%;
    height: 120px;
}

/* ---SUBMIT BUTTON--- */
.buttonHolder {
    text-align: center;
    margin: 15px;
}

.submitButton {
    width: 200px;
    background-color: #42006b;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* ---THANKS--- */
#thanks {
    height: 300px;
}

/* ----- HOME PAGE ----- */
article#homeTowns {
    border: none;
    text-align: center;
    display: grid;
    grid-column: 1;
    grid-row: 3;
    grid-gap: 3%;
    margin-top: 30px;
    background-color: white;
}

#homeTowns div {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.4);
    grid-gap: 10px;
    min-height: 400px;
}

#homeTowns div img {
    width: 95%;
    height: auto;
}

#homeTowns h5 {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.2rem;
    color: #d6620a;
}

#homeTowns h6 {
    font-family: 'Raleway', sans-serif;
    font-size: .9rem;
    color: #42006b;
    margin: 10px 0 20px 0;
}

#homeTowns p {
    font-size: .9rem;
    margin: 0;
    padding: 10px;
}

img.homePhoto {
    max-width: 100%;
    margin-bottom: 20px;
}


/*------ FOOTER ------*/

footer {
    font-size: smaller;
    font-family: 'Lato', sans-serif;
    background-color: #d6620a;
    color: white;
    text-align: center;
}

footer h3 {
    font-size: 1.25rem;
}

div#googleMap {
    margin: 20px;
    max-width: 100%;
    height: 200px;
    border: 1px solid  #42006b;
}

/*------ Clearfix: Force an Element not to collapse ------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}