@media only screen and (min-width: 900px) {

/*------------------------- HEADER ------------------------*/
header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header img {
    max-width: 100px;
}

 /*------------------------- MAIN ----------------------------*/
    
 main {
    max-width:1024px;
    margin: 35px auto;
}

/* ----------------------- CONTACT PAGE ----------------------- */
main aside {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    padding: 30px 80px;
}

}