html {
    width: 100%
}

/*------ BODY ------*/
body {
    background-color: white;
    color: gray;
    font-family: 'Assistant', sans-serif;
    width: 100%;
    min-width: 320px;
}

/*----------------------------------- HEADER -----------------------------*/
header {
    background-color: black;
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}

header img {
	vertical-align: sub;
    margin: 25px;
    display: inline-block;
    max-width: 85px;
}

.headings {
    display: inline-block;
    text-align: center;
}

header h1 {
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 2.5em;
    margin-bottom: 10px;
}



/*----------------------------- NAVIGATION --------------------------*/

nav {
    width: 100%;
    background-color: gray;
    font-family: 'Cinzel', serif;
    text-align: center;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav ul.hide {
    display: none;
}

/*Remove default link underline and color*/
nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    margin: 0 auto;
    padding: .8rem 2%;
    border-top: 1px solid rgba(0,0,0,0.4);
}

/*wayfinding active link */
nav ul li.active a {background-color: rgba(0,0,0,0.2);
    text-decoration: underline;
}

/* Change the link color on hover */
nav ul li a:hover {background-color: #42006b;}


/*------ MAIN ------*/

h2, h3, h4, h5, h6 {
    font-family: 'Great Vibes', cursive;
    color: #42006b;
}

h2 {
    font-size: 2.5rem;
}

/* -----------------------HOME PAGE------------------------- */
.intro {
    border: none;
    text-align: center;
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-gap: 7%;
    margin: 30px 15px 20px 15px;
}

#hotel div {
    grid-gap: 10px;
    min-height: 400px;
}

#hotel div img {
    width: 95%;
    height: auto;
}

#hotel p {
    margin: 0;
    padding: 10px 10px 30px 10px;
}

#features ul {
    text-align: left;
    padding-bottom: 17px;
}

/* -----Action Links------ */
.action {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 1.8rem;
}

/* Change link colors and underline */
.intro a:link {
    color:  #42006b;
    text-decoration: none;
}

/* Add underline to link when hovering */
.intro a:hover {
    text-decoration: underline;
}

/* -----DC Temple article----- */
article.featured {
    margin: 55px 15px 20px 15px;
    padding-top: 100px;
}

.dcTemple {
    width: 100%;
    margin: 0;
}

.dcTemple img {
    width: 100%;
}

/* --------------------------- TEMPLES PAGES ---------------------------- */

.temples {
    text-align: center;
    margin: 40px;
}

.temples h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.3rem;
}

/* Change link colors and underline */
.temples a:link {
    color:  #42006b;
    text-decoration: none;
    font-size: 1.25rem;
}

/* Add underline to link when hovering */
.temples a:hover {
    text-decoration: underline;
}

/* ---------- INDIVIDUAL TEMPLES ---------- */

.templeInfo h3, .templeServices h3, .templeFacts h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.3rem;
    margin: 10px 5px 5px 5px;
    text-decoration: underline;
}

.templeInfo, .templeServices, .templeFacts {
    margin: 55px 15px 20px 15px;
}

.templeInfo p {
    margin: 2px 5px 20px 5px;
}

.templePicture, .sdtemplePicture {
    width: 100%;
    margin: 0px 0px 30px 0px;
}

.templePicture, .sdtemplePicture img {
    width: 100%;
}


/* ------------------SERVICES, RECEPTION & MISSIONARIES PAGES----------------- */

.servicesPics {
    border: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
    margin-top: 30px;
}

.service_pics {
    width: 100%;
    height: auto;
}

#amenities, #services {
    margin: 40px;
}

#subpages {
    text-align: center;
    margin: 40px;
}

#subpages h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.3rem;
}

/* Change link colors and underline */
#subpages a:link {
    color:  #42006b;
    text-decoration: none;
    font-size: 1.25rem;
}

/* Add underline to link when hovering */
#subpages a:hover {
    text-decoration: underline;
}

/* -------- RECEPTIONS & MISSIONARIES -------- */
.reception {
    margin: 40px;
}

.reception h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.3rem;
    text-align: center;
}

/* -------------------------CONTACT & RESERVATIONS PAGES------------------------ */

main h1 {
    font-family: 'Great Vibes', cursive;
    color: #42006b;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
}

#reqNote {
    text-align: center;
    font-style: italic;
}

.contactInfo {
    margin: 50px;
}

.contactInfo h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    margin-bottom: 5px;
}

div#googleMap { 
    margin: 50px;
    max-width: 400px;
    height: 200px;
    border: 1px solid  #42006b;
}

form {
    margin: 0 auto;
    width:400px;
}

input {
    width: 80vw;
    max-width: 350px;
    padding: 12px 20px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
}

form fieldset {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    max-width: 400px;
    border: none;
    margin-top: 30px;
}

fieldset legend {
    color: #42006b;
    font-family: 'Cinzel', serif;
    text-decoration: underline;
}

fieldset legend {
    font-size: 1.5rem;
    font-weight: bold;
}

/* ---SELECT LISTS--- */
.custom-select {
    margin: 10px 0px;
}

/* ---COMMENTS BOX--- */
textarea {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    resize: none;
    width: 100%;
    height: 120px;
    margin: 10px 0px;
}

/* ---SUBMIT BUTTON--- */
.buttonHolder {
    text-align: center;
    margin: 15px;
}

.submitButton {
    width: 200px;
    background-color: #42006b;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* ---THANKS--- */
#thanks {
    height: 300px;
    text-align: center;
}

#thanks h2 {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
}

/*------------------------------- FOOTER --------------------------------*/

footer {
    font-size: smaller;
    font-family: 'Cinzel', serif;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 40px;
}

p.footer-bar {
    padding-bottom: 30px;
}

footer h3 {
    color: white;
    font-size: 2rem;
    padding-top: 20px;
    margin: 10px;
}

footer h2 {
    color: white;
    font-size: 1.75rem;
}

/* Change link colors and underline */

footer a:link {
    color: white;
    text-decoration: none;
}

/* Add underline to link when hovering */
footer a:hover {
    text-decoration: underline;
}

footer a:visited {
    color: white;
}


/*------ Clearfix: Force an Element not to collapse ------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}