@media only screen and (min-width: 600px) {

/*------------------------ NAVIGATION -----------------------*/
nav button {display: none;}
    
nav ul {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

nav ul li a {
    font-size: 1.5em;
    border: none;
    padding: .6rem 1rem;
}

nav ul.hide {
    display: inline-flex;
    margin: auto;
}

/* -------------------------- HOME PAGE -------------------- */
.intro {
    border: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3%;
    margin-top: 30px;
}

/* -----DC Temple article----- */
article.featured {
    margin: 30px 15px 20px 15px;
    padding-top: 30px;
}
   
.dcTemple {
    width: 50%;
    margin: 0;
    float: right;
}

.dcTemple img {
    width: 97%;
    padding: 2%; 
}

/* ----------------------- TEMPLES PAGE ---------------------- */
#templePics {
    border: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3%;
    margin-top: 30px;
}

/* -------- SALT LAKE TEMPLE --------- */
.templeInfo {
    margin: 30px 15px 20px 15px;
}

.templeInfo h1 {
    margin: 0px 10px 50px 10px;
}

.templeInfo h3, .templeServices h3, .templeFacts h3 {
    margin: 25px 5px 5px 5px;
}
   
.templePicture {
    width: 53%;
    margin: 0;
    float: right;
}

.sdtemplePicture {
    width: 67%;
    margin: 0;
    float: right;
}

.templePicture img, .sdtemplePicture img {
    width: 97%;
    padding: 2%; 
}




/* ----------------------- CONTACT PAGE ----------------------- */
main aside {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    padding: 30px;
}

.contactInfo {
    margin: 30px;
}

div#googleMap {
    margin: 30px;
}


}